@model IEnumerable<GreenGrassAPI.Dtos.PlantView>
@namespace GreenGrassUI.Views.Plant
@{
    ViewData["Title"] = "Moje rośliny";
    var number = 1;
}

<h1 class="text-center">Moje rośliny</h1>
<div class="input-group">
    <span class="input-group-text">
        <i class="fa-solid fa-magnifying-glass"></i>
    </span>
    <input class="form-control search-bar" type="text" id="searchInput" onkeyup="searchPlantByName()" placeholder="Wyszukaj..">
</div>
<br />
<a href="@Url.Action("CreateView", "Plant")" class="btn btn-primary" style="margin-bottom: 15px;">Dodaj nową roślinę</a>
@if (Model.Any())
{
    <table id="searchTable" class="table sortable table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>
                    Nazwa
                </th>
                <th></th>
                <th>
                    Data
                </th>
                <th>
                    Temperatura °C
                </th>
                <th>
                    Wilgotność %
                </th>
                <th>
                    Podłoże
                </th>
                <th>
                    Oświetlenie
                </th>
                <th>
                    Podlewanie
                </th>
                <th>
                    Nawożenie
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@(number).</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if ((item.ImageUrl).Any())
                        {
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageUrl)" class="image-thumbnail"/>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TemperatureRangeMin)°C - @Html.DisplayFor(modelItem => item.TemperatureRangeMax)°C
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HumidityRangeMin)% - @Html.DisplayFor(modelItem => item.HumidityRangeMax)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoilType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lighting)
                    </td>
                    <td>
                        @if (item.NotificationId == null)
                        {
                            <p>Podlewać co: @(Html.DisplayFor(modelItem => item.WateringFrequency)) dni.</p>
                        }
                        else
                        {
                        @Html.DisplayFor(modelItem => item.DaysUntilWateringInfo)
                        }
                    </td>
                    <td>
                        @if (item.NotificationId == null)
                        {
                            <p>Nawozić co: @(Html.DisplayFor(modelItem => item.FertilizingFrequency)) dni.</p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.DaysUntilFertilizingInfo)
                        }                      
                    </td>                  
                    <td>
                        <div class="btn-group" role="group">
                            <div class="btn-group" role="group">
                                @Html.ActionLink("Szczegóły", "DetailsOfPlant", "Plant", new { id = item.Id }, new { @class = "btn btn-warning my-btn" })
                                @Html.ActionLink("Edytuj", "UpdateView", "Plant", new { id = item.Id }, new { @class = "btn btn-primary my-btn", style = "background-color: green;" })
                                @if (item.NotificationId != null)
                                {
                                    @Html.ActionLink("Podlej", "UpdateWatering", "Notification", new { plantId = item.Id }, new { @class = "btn btn-primary my-btn" })
                                    @Html.ActionLink("Nawieź", "UpdateFertilizing", "Notification", new { plantId = item.Id }, new { @class = "btn btn-primary my-btn", style = "background-color: saddlebrown;" })
                                    @Html.ActionLink("Usuń powiadomienie", "RemoveNotification", "Notification", new { id = item.NotificationId }, new { @class = "btn btn-danger my-btn", onclick = "return confirm('Czy na pewno chcesz usunąć powiadomienie?');" })
                                } else
                                {
                                    <a data-id="@item.Id" data-name="@item.Name" class="btn btn-primary my-btn show-notification-btn">Dodaj powiadomienie</a>
                                }
                                @Html.ActionLink("Usuń", "RemovePlant", "Plant", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Czy na pewno chcesz usunąć roślinę?');" })
                            </div>
                        </div>
                    </td>
                </tr>
                number++;
            }
        </tbody>
    </table>
    <div id="notificationOverlay" class="notification-overlay" style="display: none;">
        <div class="text-center notification-content">
            <div id="notificationContainer">
                @await Html.PartialAsync("NotificationView", new GreenGrassAPI.Dtos.NotificationDto())
            </div>
        </div>
    </div>

}
else
{
    <p>Brak roślin do wyświetlenia.</p>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".show-notification-btn").click(function () {
                var plantId = $(this).data("id");
                var plantName = $(this).data("name");

                $("#notificationOverlay").show();
                $("#notificationPlantName").text("Powiadomienie - " + plantName);
                $("#notificationDtoPlantId").val(plantId);
            });

            $("#closeNotificationBtn").click(function () {
                $("#notificationOverlay").hide();
            });
        });
    </script>
}