@model IEnumerable<GreenGrassAPI.Dtos.PlantView>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Moje powiadomienia";
}

<button class="btn btn-secondary btn-back" onclick="goBack()">Wstecz</button>

@if (Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-2 notification-square @((item.DaysUntilWatering <= 0) ? "expired" : "")">
                <div class="notification-menu">
                    <i class="fa-solid fa-ellipsis-v menu-icon"></i>
                    <div class="options-menu">
                        <a class="no-link-style" href="@Url.Action("RemoveNotification", "Notification", new { id = item.NotificationId })" onclick="return confirm('Czy na pewno chcesz usunąć powiadomienie?');">
                            <span class="delete-option"><i class="fa-solid fa-trash"></i> Usuń powiadomienie</span>
                        </a>
                        <a class="show-notification-btn edit-option no-link-style" onclick="handleItemClick(@JsonConvert.SerializeObject(item))">
                            <span class="edit-option"><i class="fa-solid fa-edit"></i> Edytuj powiadomienie</span>
                        </a>
                    </div>
                </div>
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.ImageUrl)" alt="zdjęcie" />
                <a class="no-link-style" href="@Url.Action("DetailsOfPlant", "Plant", new { id = item.Id })">
                    <h4 class="text-center">@item.Name</h4>
                </a>            
                <div class="details-of-notification">
                    <p>
                        <i class="fa-solid fa-water"></i>
                        @item.DaysUntilWateringInfo
                    </p>
                    <p>
                        <i class="fa-solid fa-battery-half"></i>
                        @item.DaysUntilFertilizingInfo
                    </p>
                </div>
            </div>
            <div id="notificationOverlay" class="notification-overlay" style="display: none;">
                <div class="text-center notification-content">
                    <div id="notificationContainer">
                        @await Html.PartialAsync("NotificationView", new GreenGrassAPI.Dtos.NotificationDto())
                    </div>
                </div>
            </div>
        }
    </div>


}
else
{
    <p>Brak powiadomień.</p>
}

@section Scripts {
    <script>
        function handleItemClick(itemJson) {
            var jsonString = JSON.stringify(itemJson); 

            var item = JSON.parse(jsonString);
            console.log(item);
            document.getElementById("plantId").value = item.Id;         
            document.getElementById("Id").value = item.NotificationId;         
            document.getElementById("lastWateringDate").value = item.LastWateringDate;
            document.getElementById("lastFertilizingDate").value = item.LastFertilizingDate;

            $("#notificationOverlay").show();
            $("#notificationPlantName").text("Powiadomienie - " + item.Name);
        }
        
    </script>
}